# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ---- Virtual Environments ----
venv/
env/
.venv/

# ---- Logs ----
*.log

# ---- Flask specific ----
instance/
*.db

# ---- Oracle Instant Client ----
instantclient_*/

# ---- IDE / Editor ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS Files ----
.DS_Store
Thumbs.db

# Secrets
config.py
.env